/*title tab container*/
.title-tab-container {
	width: 100%;
	.title-tab {
		display: inline-block;
		line-height: 30px;
		font-size: 19px;
		color: #222;
		border-bottom: 3px solid #44b549;
		padding: 0 5px;
		margin-top: 10px;
	}
	.bottom-line {
	  border-bottom: 1px solid #e7e7eb;
	}
}


/*no padding*/
.no-padding {
	padding: 0px;
}
.no-margin {
	margin: 0px !important;
}
.iconfont {
	display: inline-block;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100% 100%;
	width: 32px;
	height: 32px;
}