*{
  border:0px; 
  margin:0px;
  padding:0px;
  -webkit-font-smoothing: antialiased;
}
/************************
  公用样式
************************/
html,body{height: 100%;width: 100%;}
body{font-family: "微软雅黑"; overflow: hidden;}
*{padding: 0; margin:0;box-sizing: border-box; list-style: none;font-family: "微软雅黑";}



//公共滚动条样式部分
::-webkit-scrollbar{
  width: 8px;
  height:9px;
}
::-webkit-scrollbar-track{
  background-color: #ffffff;
}
::-webkit-scrollbar-thumb{ /* 1 */
  background-color: #C1C1C1;
  margin-right:3px;
}
:hover::-webkit-scrollbar-thumb { /* 2 */
  background-color: #C1C1C1;
}
::-webkit-scrollbar-thumb:hover { /* 3 */
  background-color: #C1C1C1;
}
::-webkit-scrollbar-thumb:active { /* 4 */
  background-color: #C1C1C1;
}

body {
  overflow: scroll;
}
a {
  text-decoration: none;
}
@import './constants';
