
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1485105596428'); /* IE9*/
  src: url('iconfont.eot?t=1485105596428#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1485105596428') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1485105596428') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1485105596428#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shezhi:before { content: "\e666"; }

.icon-search:before { content: "\e60b"; }

.icon-iconfontclosesmall:before { content: "\e66c"; }

.icon-xinfengpsd:before { content: "\e630"; }

.icon-zuixiaohua:before { content: "\e667"; }

.icon-jian:before { content: "\e611"; }

.icon-denglu:before { content: "\e63f"; }

.icon-pifu-copy-copy:before { content: "\e600"; }

